#game{
    width: 700px;
    height: 700px;
    background-color: grey;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid black;
    outline: 8px solid black;
    position: relative;
}


#ball{
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
}

#paddle{
    border: 2px solid black;
    position: absolute;
}

.blocks{
    border: 2px solid white;
}

button{
    margin-left: 332px;
}

button:hover{
    background-color: black;
    color: white;
}