body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
    color: #fff;
    flex-direction: column;
    margin: 0;
}

#reloj {
    font-size: 4rem;
    background: rgba(0,0,0,0.3);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    text-align: center;
}

#fecha {
    font-size: 1.5rem;
    text-align: center;
}
/* he buscado un erstilo basico porque algunas cosas no las recordaba. */