body{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#submit{
    background-color: rgb(110, 161, 220);
    border-radius: 4px;
}

#border{
    border: 2px solid white;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 5px 8px grey;
}

.lines{
    display: inline-block;
}

ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    text-transform: capitalize;
}

li button.edit, 
li button.delete {
    /* Tu CSS existente para los botones es bueno, pero ajustaremos el tamaño para que se parezca más al icono. */
    width: 20px;
    height: 20px;
    margin-left: 5px;
    
    /* El texto del botón debe estar completamente oculto para mostrar solo el icono */
    font-size: 0;
    line-height: 0;
    
    /* Opcional: Cambiar el color de fondo para que coincida con la estética */
    background-color: transparent; 
    /* Ajusta el tamaño de la imagen dentro del botón */
    background-size: 100% 100%; 
}

/* 4. Estilo para el input en modo edición */
li input[type="text"] {
    flex-grow: 1; /* Permite que el input ocupe el espacio disponible */
    margin-right: 10px; /* Espacio antes de los botones */
    padding: 5px;
}

.edit{
    background-image: url("https://cdn-icons-png.flaticon.com/512/5251/5251816.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;
}
.delete{
    background-image: url("https://cdn-icons-png.flaticon.com/512/5974/5974771.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;
}