body{
    background-color: powderblue;
}

#general{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

#general > div{
    width: 300px;
}

#general > div img{
    width: 100%;
    height: auto;
}

#btnCargar{
    background-color: black;
    color: white;
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 1px 1px black;
}